// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-color-base0: #839496;
  --ion-color-base0-rgb: #839496;
  --ion-color-base00: #657b83;
  --ion-color-base00-rgb: #657b83;
  --ion-color-base01: #586e75;
  --ion-color-base01-rgb: #586e75;
  --ion-color-base02: #073642;
  --ion-color-base02-rgb: #073642;
  --ion-color-base03: #002b36;
  --ion-color-base03-rgb: #002b36;
  --ion-color-base1: #93a1a1;
  --ion-color-base1-rgb: #93a1a1;
  --ion-color-base2: #eee8d5;
  --ion-color-base2-rgb: #eee8d5;
  --ion-color-base3: #fdf6e3;
  --ion-color-base3-rgb: #fdf6e3;
  --ion-color-blue: #268bd2;
  --ion-color-blue-rgb: #268bd2;
  --ion-color-cyan: #2aa198;
  --ion-color-cyan-rgb: #2aa198;
  --ion-color-green: #859900;
  --ion-color-green-rgb: #859900;
  --ion-color-magenta: #d33682;
  --ion-color-magenta-rgb: #d33682;
  --ion-color-orange: #cb4b16;
  --ion-color-orange-rgb: #cb4b16;
  --ion-color-red: #dc322f;
  --ion-color-red-rgb: #dc322f;
  --ion-color-violet: #6c71c4;
  --ion-color-violet-rgb: #6c71c4;
  --ion-color-yellow: #b58900;
  --ion-color-yellow-rgb: #b58900;

  /** sunlightmapapp **/
  --ion-background-color: var(--ion-color-base3);
  --ion-background-color-rgb: var(--ion-color-base3_rgb);
  --ion-text-color: var(--ion-color-base02);
  --ion-text-color-rgb: var(--ion-color-base02-rgb);
  --ion-tab-bar-background: var(--ion-color-cyan);
  --ion-tab-bar-background-focused: var(--ion-color-base2);
  --ion-tab-bar-border-color: var(--ion-color-base00);
  --ion-tab-bar-color: var(--ion-color-base02);
  --ion-tab-bar-color-selected: var(--ion-color-base2);
  // --ion-item-background: 
  // --ion-item-border-col: 
  // --ion-item-color: 

  /** primary **/
  --ion-color-primary: var(--ion-color-cyan);
  --ion-color-primary-rgb: var(--ion-color-cyan-rgb);
  --ion-color-primary-contrast: var(--ion-color-base3);
  --ion-color-primary-contrast-rgb: var(--ion-color-base3_rgb);
  --ion-color-primary-shade: var(--ion-color-cyan);
  --ion-color-primary-tint: var(--ion-color-cyan);

  /** secondary **/
  --ion-color-secondary: var(--ion-color-orange);
  --ion-color-secondary-rgb: var(--ion-color-orange-rgb);
  --ion-color-secondary-contrast: var(--ion-color-base3);
  --ion-color-secondary-contrast-rgb: var(--ion-color-base3_rgb);
  --ion-color-secondary-shade: var(--ion-color-orange);
  --ion-color-secondary-tint: var(--ion-color-orange);

  /** tertiary **/
  --ion-color-tertiary: var(--ion-color-blue);
  --ion-color-tertiary-rgb: var(--ion-color-blue-rgb);
  --ion-color-tertiary-contrast: var(--ion-color-base3);
  --ion-color-tertiary-contrast-rgb: var(--ion-color-base3_rgb);
  --ion-color-tertiary-shade: var(--ion-color-blue);
  --ion-color-tertiary-tint: var(--ion-color-blue);

  /** success **/
  --ion-color-success: var(--ion-color-green);
  --ion-color-success-rgb: var(--ion-color-green-rgb);
  --ion-color-success-contrast: var(--ion-color-base3);
  --ion-color-success-contrast-rgb: var(--ion-color-base3_rgb);
  --ion-color-success-shade: var(--ion-color-green);
  --ion-color-success-tint: var(--ion-color-green);

  /** warning **/
  --ion-color-warning: var(--ion-color-red);
  --ion-color-warning-rgb: var(--ion-color-red-rgb);
  --ion-color-warning-contrast: var(--ion-color-base3);
  --ion-color-warning-contrast-rgb: var(--ion-color-base3_rgb);
  --ion-color-warning-shade: var(--ion-color-red);
  --ion-color-warning-tint: var(--ion-color-red);

  /** danger **/
  --ion-color-danger: var(--ion-color-red);
  --ion-color-danger-rgb: var(--ion-color-red-rgb);
  --ion-color-danger-contrast: var(--ion-color-base3);
  --ion-color-danger-contrast-rgb: var(--ion-color-base3_rgb);
  --ion-color-danger-shade: var(--ion-color-red);
  --ion-color-danger-tint: var(--ion-color-red);

  /** dark **/
  --ion-color-dark: var(--ion-color-base03);
  --ion-color-dark-rgb: var(--ion-color-base03-rgb);
  --ion-color-dark-contrast: var(--ion-color-base3);
  --ion-color-dark-contrast-rgb: var(--ion-color-base3_rgb);
  --ion-color-dark-shade: var(--ion-color-base03);
  --ion-color-dark-tint: var(--ion-color-base03);

  /** medium **/
  --ion-color-medium: var(--ion-color-base02);
  --ion-color-medium-rgb: var(--ion-color-base02-rgb);
  --ion-color-medium-contrast: var(--ion-color-base2);
  --ion-color-medium-contrast-rgb: var(--ion-color-base2_rgb);
  --ion-color-medium-shade: var(--ion-color-base02);
  --ion-color-medium-tint: var(--ion-color-base02);

  /** light **/
  --ion-color-light: var(--ion-color-base2);
  --ion-color-light-rgb: var(--ion-color-base2-rgb);
  --ion-color-light-contrast: var(--ion-color-base02);
  --ion-color-light-contrast-rgb: var(--ion-color-base02_rgb);
  --ion-color-light-shade: var(--ion-color-base2);
  --ion-color-light-tint: var(--ion-color-base2);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
  //   --ion-color-primary: #428cff;
  //   --ion-color-primary-rgb: 66,140,255;
  //   --ion-color-primary-contrast: #ffffff;
  //   --ion-color-primary-contrast-rgb: 255,255,255;
  //   --ion-color-primary-shade: #3a7be0;
  //   --ion-color-primary-tint: #5598ff;

  //   --ion-color-secondary: #50c8ff;
  //   --ion-color-secondary-rgb: 80,200,255;
  //   --ion-color-secondary-contrast: #ffffff;
  //   --ion-color-secondary-contrast-rgb: 255,255,255;
  //   --ion-color-secondary-shade: #46b0e0;
  //   --ion-color-secondary-tint: #62ceff;

  //   --ion-color-tertiary: #6a64ff;
  //   --ion-color-tertiary-rgb: 106,100,255;
  //   --ion-color-tertiary-contrast: #ffffff;
  //   --ion-color-tertiary-contrast-rgb: 255,255,255;
  //   --ion-color-tertiary-shade: #5d58e0;
  //   --ion-color-tertiary-tint: #7974ff;

  //   --ion-color-success: #2fdf75;
  //   --ion-color-success-rgb: 47,223,117;
  //   --ion-color-success-contrast: #000000;
  //   --ion-color-success-contrast-rgb: 0,0,0;
  //   --ion-color-success-shade: #29c467;
  //   --ion-color-success-tint: #44e283;

  //   --ion-color-warning: #ffd534;
  //   --ion-color-warning-rgb: 255,213,52;
  //   --ion-color-warning-contrast: #000000;
  //   --ion-color-warning-contrast-rgb: 0,0,0;
  //   --ion-color-warning-shade: #e0bb2e;
  //   --ion-color-warning-tint: #ffd948;

  //   --ion-color-danger: #ff4961;
  //   --ion-color-danger-rgb: 255,73,97;
  //   --ion-color-danger-contrast: #ffffff;
  //   --ion-color-danger-contrast-rgb: 255,255,255;
  //   --ion-color-danger-shade: #e04055;
  //   --ion-color-danger-tint: #ff5b71;

  //   --ion-color-dark: #f4f5f8;
  //   --ion-color-dark-rgb: 244,245,248;
  //   --ion-color-dark-contrast: #000000;
  //   --ion-color-dark-contrast-rgb: 0,0,0;
  //   --ion-color-dark-shade: #d7d8da;
  //   --ion-color-dark-tint: #f5f6f9;

  //   --ion-color-medium: #989aa2;
  //   --ion-color-medium-rgb: 152,154,162;
  //   --ion-color-medium-contrast: #000000;
  //   --ion-color-medium-contrast-rgb: 0,0,0;
  //   --ion-color-medium-shade: #86888f;
  //   --ion-color-medium-tint: #a2a4ab;

  //   --ion-color-light: #222428;
  //   --ion-color-light-rgb: 34,36,40;
  //   --ion-color-light-contrast: #ffffff;
  //   --ion-color-light-contrast-rgb: 255,255,255;
  //   --ion-color-light-shade: #1e2023;
  //   --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
  //   --ion-background-color: #000000;
  //   --ion-background-color-rgb: 0,0,0;

  //   --ion-text-color: #ffffff;
  //   --ion-text-color-rgb: 255,255,255;

  //   --ion-color-step-50: #0d0d0d;
  //   --ion-color-step-100: #1a1a1a;
  //   --ion-color-step-150: #262626;
  //   --ion-color-step-200: #333333;
  //   --ion-color-step-250: #404040;
  //   --ion-color-step-300: #4d4d4d;
  //   --ion-color-step-350: #595959;
  //   --ion-color-step-400: #666666;
  //   --ion-color-step-450: #737373;
  //   --ion-color-step-500: #808080;
  //   --ion-color-step-550: #8c8c8c;
  //   --ion-color-step-600: #999999;
  //   --ion-color-step-650: #a6a6a6;
  //   --ion-color-step-700: #b3b3b3;
  //   --ion-color-step-750: #bfbfbf;
  //   --ion-color-step-800: #cccccc;
  //   --ion-color-step-850: #d9d9d9;
  //   --ion-color-step-900: #e6e6e6;
  //   --ion-color-step-950: #f2f2f2;

  //   --ion-toolbar-background: #0d0d0d;

  //   --ion-item-background: #1c1c1c;
  //   --ion-item-background-activated: #313131;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
  //   --ion-background-color: #121212;
  //   --ion-background-color-rgb: 18,18,18;

  //   --ion-text-color: #ffffff;
  //   --ion-text-color-rgb: 255,255,255;

  //   --ion-border-color: #222222;

  //   --ion-color-step-50: #1e1e1e;
  //   --ion-color-step-100: #2a2a2a;
  //   --ion-color-step-150: #363636;
  //   --ion-color-step-200: #414141;
  //   --ion-color-step-250: #4d4d4d;
  //   --ion-color-step-300: #595959;
  //   --ion-color-step-350: #656565;
  //   --ion-color-step-400: #717171;
  //   --ion-color-step-450: #7d7d7d;
  //   --ion-color-step-500: #898989;
  //   --ion-color-step-550: #949494;
  //   --ion-color-step-600: #a0a0a0;
  //   --ion-color-step-650: #acacac;
  //   --ion-color-step-700: #b8b8b8;
  //   --ion-color-step-750: #c4c4c4;
  //   --ion-color-step-800: #d0d0d0;
  //   --ion-color-step-850: #dbdbdb;
  //   --ion-color-step-900: #e7e7e7;
  //   --ion-color-step-950: #f3f3f3;

  //   --ion-item-background: #1A1B1E;
  }

  ion-title.title-large {
    // --color: white;
  }
}